argon2-cffi==18.1.0
brotlipy==0.7.0
django-debug-toolbar==1.9.1
django-environ==0.4.4
django-extensions==1.9.9
django-improved-user==1.0a2
Django==2.0.1
djangorestframework==3.7.7
flake8-commas==1.0.0
flake8-quotes==0.13.0
flake8==3.5.0
gunicorn==19.7.1
ipython==6.2.1
isort==4.2.15
psycopg2==2.7.3.2
pytz==2017.3
Werkzeug==0.14.1
whitenoise==3.3.1
